# Игнорируем зависимости, которые будут установлены внутри контейнера
node_modules
*/node_modules

# Игнорируем локальные файлы окружения
.env
*/.env

# Игнорируем логи и временные файлы
npm-debug.log
*.log

# Игнорируем артефакты сборки фронтенда
frontend/build
