# Backend Configuration
DATABASE_URL=postgres://user:password@localhost:5432/database
JWT_SECRET=8IBaREPBnVAFEh7SE3rpOtnxo7C8JQzu
PORT=3001

# Frontend Configuration
REACT_APP_API_URL=http://localhost:3001
